*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-inline-size: 360px;
  margin: 0 auto;
  background-color: #F9F7F4;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

::placeholder
{
  color: #A6A6A6;
}

::-webkit-input-placeholder {
  color: #A6A6A6;
}

:-ms-input-placeholder {
  color: #A6A6A6;
}