.travel-stories {
  margin-inline: 21px;
  margin-block-end: 75px;
}

.travel-stories__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: 50px;
}

.travel-stories__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.travel-stories__list-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  /* inline-size: 318px; */
  /* margin: auto; */
  /* inline-size: auto; */
  width: 100%;
  block-size: 455px;
}

.img-tent {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), 
  url('../images/photo/2a7caacf3cdc913a43679b30a43c28bb.png');
}

.img-people-around-the-campfire {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), 
  url('../images/photo/816f9707c2e44b850726a514dbcf5b3c.png');
}

.img-people-on-the-beach {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), 
  url('../images/photo/9c76b8bf65a7730043460a77b332f214.png');
}

.travel-stories__list-item-container {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFFFFF;
}

.travel-stories__list-item-container-list {
  margin-inline-start: 24px;
  margin-block-start: 3px;
  list-style-type: disc;
}

.travel-stories__list-item-container-title_features {
  margin-inline-end: 150px;
}

.travel-stories__list-item-container-text {
  line-height: 23px;
  padding-inline-end: 30px;
}

.travel-stories__button-with-arrow_position {
  position: absolute;
  top: 370px;
  left: 30px;
}

.travel-stories__list-item-container-social {
  display: none;
}

@media (width >= 768px) {
  .travel-stories {
    margin-inline: 53px;
  }
}

@media (width >= 1024px) {
  .travel-stories {
    margin-block-end: 135px;
  }

  .travel-stories__header {
    gap: 30px;
    /* margin-inline: 35px; */
    margin-block-end: 100px;
  }

  .travel-stories__list {
    gap: 50px;
    /* margin-inline: 32px; */
    max-inline-size: 1170px;
    margin: auto;
  }

  .travel-stories__list-item {
    border-radius: 50px;
    /* inline-size: 918px; */
    block-size: 567px;
  }

  .travel-stories__list-item-container {
    top: 60px;
    left: 60px;
    gap: 37px;
    font-size: 20px;
  }

  .travel-stories__list-item-container-text {
    line-height: 28px;
    max-inline-size: 570px;
  }

  .travel-stories__list-item-container-list {
    margin-inline-start: 30px;
    margin-block-start: -10px;
  }

  .travel-stories__button-with-arrow_position {
    top: 478px;
    left: 60px;
  }

  .travel-stories__list-item-container-social {
    position: absolute;
    right: 61px;
    bottom: 61px;
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  .travel-stories__list-item-container-social-item {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
  }

  .travel-stories__list-item:hover {
    cursor: pointer;
  }

  .travel-stories__list-item:hover .section__background-image_features {
    transform: scale(1.2);
  }

  .travel-stories__list-item:hover .button-with-arrow::before {
    background-color: #286562;
  }

  .travel-stories__list-item-container-social-item:active {
    color: #EFA501;
  }

  .travel-stories__list-item:active:not(:has(.travel-stories__list-item-container-social-item:active)) 
  .button-with-arrow::before {
    background-color: #EFA501;
  }
}

@media (width >= 1920px) {
  .travel-stories__header {
    margin-inline: 30px;
  }

  .travel-stories__list {
    /* margin-inline: 355px; */
  }

  .travel-stories__list-item {
    /* inline-size: 1170px;
    block-size: 567px; */
  }
}